/* ==========================================
                          STYLE NOTES

Inspired by https://dribbble.com/shots/2719315-Countdown-timer

=============================================== */


/* ---------------------------
        BODY STYLE 
----------------------------- */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4ff;
    text-transform: uppercase;
    font-size: 2em;
}


/* remove dotted outline on buttons */

* {
    outline: 0px !important;
    -webkit-appearance: none;
}


/* ---------------------------
  MAIN CONTAINER
 ----------------------------- */

#main-container {
    width: 40%;
    margin-top: 40px;
    height: 580px;
    box-shadow: 10px 90px 50px;
}


/* ---------------------------
    HEADER PANEL
 ----------------------------- */

#heading-panel {
    height: 250px;
    width: 100%;
    padding-top: 10px;
    color: #ffffff;
    text-align: center;
    background-color: #7f8fae;
}


/* ---------------------------
    WORK DURATION PANEL 
 ----------------------------- */

.panel-2 {
    height: 100px;
    width: 100%;
}

#work-duration {
    text-align: center;
    width: 100%;
    background-color: #dadaff;
    color: #ffffff;
}


/* ---------------------------
    BREAK DURATION PANEL 
 ----------------------------- */

#break-duration {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #dadaff;
    color: #ffffff;
}


/* ---------------------------
    BUTTON PANEL
 ----------------------------- */

#button-panel {
    text-align: center;
    background-color: #fffcd3;
    height: auto;
    width: 100%;
}

.btn {
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    color: #6d7797;
    font-size: 0.9em;
}

.upperpanelBtn {
    height: 50px;
    font-size: 30px;
}

.upperpanelBtn:hover {
    background-color: #fc5d66;
}


/* ---------------------------
    TIMER PANEL
 ----------------------------- */

#timer-panel {
    background-color: #f36cb0;
    color: #ffffff;
    height: 240px;
    width: 100%;
    text-align: center;
    /* padding: 20px; */
}

#showtime {
    font-size: 35px;
}

@media only screen and (max-width: 550px) {
    #main-container {
        width: 100%;
    }
    #button-panel {
        font-size: 30px;
    }
}

@media only screen and (min-width: 551px) and (max-width:750px) {
    #main-container {
        width: 85%;
    }
    #button-panel {
        font-size: 28px;
    }
}

@media only screen and (min-width: 751px) and (max-width:1000px) {
    #main-container {
        width: 70%;
    }
    #button-panel {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1001px) and (max-width:1250px) {
    #main-container {
        width: 50%;
    }
    #button-panel {
        font-size: 25px;
    }
}